.search {
    display: flex;
    width: 100%;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #F2F3F5;
    border-radius: 16px;
}
.dark{
    color:white
}
.light{
    color:black
}